.footerList {
  list-style-type: none;
}

.footerListItem {
  margin-bottom: 0.7rem;
  color: #5a7184;
}
.listItemContent {
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
}
.listItemContent:hover {
  font-weight: 700;
  padding: 0 5px;
  color: #038788;
}
